/* Supprimer les marges et paddings par défaut */
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  html {
  color-scheme: light dark;
  }

  
  body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    padding-bottom: env(safe-area-inset-bottom); 
    padding-top: env(safe-area-inset-top);


  }

  input:-webkit-autofill {
    background-color: var(--jaune) !important;
    box-shadow: 0 0 0px 1000px var(--jaune) inset; /* facultatif pour override */
  }

.global-background {
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
  opacity: 0.4;
}

.global-background .fond-svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
}


  
  body.light-mode {
    --header-bg: #ffffff;
    --header-color: #000000;
    --header-hover-color: #0059b8 ;
  }
  
  body.dark-mode {
    --header-bg: #1a1a1a;
    --header-color: #ffffff;
    --header-hover-color: #e07c0a

  }

  body{
    background-size: cover;  
    background-repeat: no-repeat;
    background-position: center;  
    background-attachment: fixed;
    background-color: var(--color-background) !important;
  }
  
  /* Icône du mode clair/sombre */
  .mode-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: inherit;
  }


  @media (max-width: 768px) {
    .global-background {
      display: none;
    }

    .header-right{
    margin-top: 2px;
    margin-right: 2px;
  }
  }