
#nC-introduction_text{
    max-height: 500px;
}

#peur,#personalité,#motivation,#another,#nC-Introduction_text,#about,#image{

    margin-left: 0;
    width: 98%;
    
}

.ficheText{
    margin-left: 0 !important;
}


.modal-title{
    margin-top: 0;
}