html, body {
  height: 100%;
  margin: 0;
}

.home-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-home-gradient);
  color: var(--color-text);
}

.home-content {
  display: flex;
  position: relative;
  text-align: center;
  background-color: var(--color-background);
  z-index: 8000;
  padding: 30px;
  border-radius: 12px;
  max-width: 1100px;
  gap: 12px;
  

}

.home-logo {
  width: 300px;
  height: auto;
  margin-bottom: 1rem;
  left: 1rem;
  top: 1rem;
  position: absolute;
}

.home-title {
  font-size: 3rem;
  color: var(--jaune);
  margin-bottom: 1rem;
  margin-top: 0;
}

.home-subtitle {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.home-button {
  padding: 8px 15px;
  font-size: 1rem;
  font-weight: bold;
  color: #222;
  background-color: var(--jaune);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
  margin-right: 10px;
  width: 140px;
  position: absolute;
  bottom: 20px;   /* marge depuis le bas */
  left: 20px;     /* marge depuis la gauche */

}

.home-button:hover {
  background-color: color-mix(in srgb, var(--jaune) 40%, rgb(168, 168, 168));
  transform: translateY(-2px);
}

.mode-toggle{
  display: flex;
  align-items: center;
}

.home-img{
  height: 400px;
  width: 400px;
  background-color: var(--jaune);
  
}

.home-perso{
  height: 600px;
  margin-top: -200px;
  width: 540px;
  object-fit: cover;
  object-position: top center;
  transform: scaleX(-1);
  border-radius: 12px;
  margin-left: -75px;


}

.home-content-box{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  z-index: 800;
  
}