.notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative; /* Nécessaire pour positionner le cercle correctement */
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .notFound.dark {
    background-color: #121212;
    color: #ffffff;
  }
  
  .notFound.light {
    background-color: #ffffff;
    color: #000000;
  }
  
  .number {
    font-size: clamp(100px, 10vw, 150px);
    font-weight: bold;
    z-index: 2;
  }
  
  .error {
    font-size: clamp(50px, 5vw, 80px);
    margin-top: 10px;
    z-index: 2;
  }
  
  .mode-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .circle {
    position: absolute; /* Positionnement absolu pour le centrer sous le texte */
    top: 50%; /* Ajuste la position verticale */
    transform: translateY(-50%); /* Centre le cercle sous le texte */
    background-image: linear-gradient(-20deg, #dff13a, #f03131);
    border-radius: 50%;
    height: 500px;
    width: 500px;
    z-index: 1; /* Place le cercle sous le texte */
  }

  .circleD {
    position: absolute; /* Permet de centrer le cercle */
    top: 50%; /* Centre verticalement */
    left: 50%; /* Centre horizontalement */
    transform: translate(-50%, -50%); /* Centre précisément */
    height: 800px; /* Diamètre du cercle */
    width: 800px; /* Diamètre du cercle */
    background: linear-gradient(#121212, #121212) padding-box,
    linear-gradient(to top,  #dff13a, #f03131) border-box;
    border-radius: 50em;
    border: 10px solid transparent;
  }
  
  
  
  
  
  .circle.light {
    background-image: linear-gradient(0deg, #0fdae9, #3c14ac);
  }

  .circleD.light {
    position: absolute; /* Permet de centrer le cercle */
    top: 50%; /* Centre verticalement */
    left: 50%; /* Centre horizontalement */
    transform: translate(-50%, -50%); /* Centre précisément */
    height: 800px; /* Diamètre du cercle */
    width: 800px; /* Diamètre du cercle */
    background: linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(to top,  #0fdae9, #3c14ac) border-box;
    border-radius: 50em;
    border: 10px solid transparent;
  }


  
  .redirect-button{
    z-index: 2;
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    background: linear-gradient(135deg, #1a40eb00, #f89603ec); /* Dégradé moderne */
    border: none;
    border-radius: 25px; /* Bordures arrondies */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre douce */
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  .redirect-button.light{
    background: linear-gradient(135deg, #1a40eb, #f1f1f100); /* Dégradé moderne */
  }

  
.redirect-button:hover {
    transform: translateY(-3px); /* Légère élévation au hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Accentuation de l'ombre */
  }
  
  .redirect-button:active {
    transform: translateY(1px); /* Effet d'appui */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Réduction de l'ombre */
  }
  
  .redirect-button:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(37, 117, 252, 0.5); /* Anneau de focus */
  }